# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R-Programming
3. SQL
4. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. numpy
3. pandas
4. matplotlib

|Data Science Tools|
|:------------------|
|R studio|
|Keras|
|Tensorflow|

Objectives:
* Write an introductory sentence about the notebook
* List popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Pravin Paul P